@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');



//colors

//primary colors
$DarkBlue: hsl(233, 26%, 24%);
$LimeGreen: hsl(136, 65%, 51%);
$BrightCyan: hsl(192, 70%, 51%);

//Neutral colors
$GrayishBlue: hsl(233, 8%, 62%);
$LightGrayishBlue: hsl(220, 16%, 96%);
$VeryLightGray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);
//linear gradient


//typography

$font-sm: 1.4rem; // 14px
$font-med: 1.8rem //18px
